<%= stylesheet_link_tag "register.css" %>
<%= javascript_include_tag "register.js" %>

<div class="container" style="text-align:center">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1" id="registerform" >
      <div class="row">
        <h2 class="reg_header">Register</h2>
      </div>
      <br />
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <div class="row reg_form_row">
        <div class="field">
          <div class="col-sm-3 col-sm-offset-1" style="text-align:right">
          <%= f.label :name, "Name:" %>
        </div>
        <div class="col-sm-6 reg_formfield">
          <%= f.text_field :name %>
          </div>
        </div>
        <div class="bubble" id="name_bubble"><span class="bubble_text">How would you like us to address you?</span></div>
      </div>
      <div class="row reg_form_row">
        <div class="field">
          <div class="col-sm-3 col-sm-offset-1" style="text-align:right">
          <%= f.label :email, "Email:" %>
        </div>
        <div class="col-sm-6 reg_formfield">
          <%= f.email_field :email %>
        </div>
        
        </div>
        <div class="bubble" id="email_bubble"><span class="bubble_text">Please provide a valid email address. This will be used to log in to YarnBomb, as well as reset your password, should you forget it.</span></div>
      </div>
        <div class="row reg_form_row">
        <div class="field">
          <div class="col-sm-3 col-sm-offset-1" style="text-align:right">
          <%= f.label :password, "Password:" %>
          <% if @validatable %>
          <% end %>
          </div>
          <div class="col-sm-6 reg_formfield">
          <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <div class="bubble" id="password_bubble"><span class="bubble_text">Passwords must be at least 8 characters long. Please do not use the password for your provided email as your YarnBomb password.</span></div>
      </div>
        <div class="row reg_form_row" id="pw_confirm_row" style="position: relative; left: -15%;">
        <div class="field">
          <div class="col-sm-6" style="text-align:right;">
          <%= f.label :password_confirmation, "Confirm Password:" %>
          </div>
          <div class="col-sm-6 reg_formfield">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        </div>
      </div>
        <div class="actions">
          <%= f.submit "Sign up", :class => "yb_button" %>
        </div>
        <% end %>
    </div>
    <div class="col-sm-5">
      <div class="row">
        <div class="col-sm-5" id="lockdiv">
          <%= image_tag "lock-icon.png", :id => "lock-top-pic"%>
          <%= image_tag "lock-bottom3.png", :id => "lock-bottom-pic"%>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p id="privacy_statement">
            At YarnBomb, your privacy is important to us. We treat your registration information as we would our own, and promise never to sell or disclose it to any 3rd party affliates. This includes (but is not limited to) those annoying robo-call advertising agencies, spam-emailing lists informing you of your inherited riches in Kenya, foreign governments, the NSA, and the 7th Day Adventists (stop knocking on my door at 8 AM on Saturday morning!). We will do our very best to protect against cyber intrusions, and will inform you post-haste should such an issue occur. YarnBomb will never ask for any form of payment or contact information (with the exception of your email address for registration and sign-in purposes). Please do not use your listed email address's password as your YarnBomb password. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container" style="text-align:center">
  Already registered?<%= render "devise/shared/links" %>
</div>


