<%= stylesheet_link_tag "tutorial.css" %>
<%= javascript_include_tag "tutorial.js" %>
<%= javascript_include_tag "customconfirm.js" %>
<%= stylesheet_link_tag "customconfirm.css" %>





<!-- BEGIN: SCENE I-->
<div class="container scene" id="scene1">
  <div class="row" id="thanks_banner">
    <div id="thanks_inside">
    <h2>
      Thanks for Registering!
    </h2>
  </div>
  </div>
  <div class="row" id="getstart_banner" >
    <h3 id="getstart_inside">Let's get started, shall we?</h3>
    <%= image_tag "arrowright.png", :class => 'next_tutorial_icon', :id => 'step_1_arrow'%>
  </div>
  </div>
</div>
<!-- END: SCENE I-->


<!-- BEGIN: SCENE II -->
<div class="container scene" id="scene2">
  <div class="row" id="tutorial_banner">
    <h2 id="tut_banner_inner">
      Tutorial
    </h2>
  </div>
  <div class="row" id="tut_subhead">
    <div id="tut_subhead_inner">
      YarnBomb is broken into three divisions,<br> each of which has a cooresponding icon on the navigation bar at the top of your screen:
    </div>
  </div>
  <div class="row" id="nav_ex_row">

    <div class="col-md-4 navcolumn" id="yarn_column">
      <div class="row">
        <%=image_tag "yarn_nav_icon.png", :class => "ex_nav_icon", :id => "yarn_ex_icon"%>
      </div>
      <div class="row category_header" id="yarn_head">
        <h3 class="popout">YARNS</h3> 
        <p class="popout popout_desc">Add or edit your yarn inventory. Each entry is saved with a unique yarn "name" along with descriptive information including color, weight, gauge, and number of skeins. Each skein is saved with an estimated (or known) yardage. </p>
      </div>
      <div class="row nav_locate_row">
        <%= image_tag "compass.png", :class => "nav_locate_icon", :id => "yarn_nav_locate_icon"%>
      </div>
    </div>

    <div class="col-md-4 navcolumn" id="proj_column">
      <div class="row">
        <%=image_tag "newproject.ico", :class => "ex_nav_icon", :id => "proj_ex_icon"%>
      </div>
      <div class="row category_header" id="proj_head">
        <h3 class="popout">PROJECTS</h3>
        <p class="popout popout_desc">Add or edit your projects. Each project is saved with a unique name along with a description, estimated completion date, required yarns, and a completion status. </p>
      </div>
      <div class="row nav_locate_row">
        <%= image_tag "compass.png", :class => "nav_locate_icon", :id => "proj_nav_locate_icon"%>
      </div>
    </div>

    <div class="col-md-4 navcolumn" id="report_column">
      <div class="row">
        <%=image_tag "report_nav_icon.png", :class => "ex_nav_icon", :id => "report_ex_icon" %>
      </div>
      <div class="row category_header" id="report_head">
        <h3 class="popout">REPORTS</h3>
        <p class="popout popout_desc">Create and download reports. Current inventory and project timeline reports will be provided, along with the ability to create custom reports to better fit your needs. Reports will be released as a new feature in YarnBomb v 2.0.<p>
      </div>
      <div class="row nav_locate_row">
        <%= image_tag "compass.png", :class => "nav_locate_icon", :id => "report_nav_locate_icon"%>
      </div>
    </div>
  </div>
  <div class="row" id="nav_ex_footer">
    Click each of the above icons for more information.
  </div>
  <div class="row" id="next_step">
    Ready to start? Let's set up your first Project!
    
  </div>

<%= button_tag "", :id => 'btnOpenDialog'%>
<div id="dialog-confirm" title="test title" ></div>
</div>

<!-- END: SCENE II -->


<div class="container scene" id="greywindow">
  <div class="row">
    <div class="window," id="logo_nav_window"></div>
    <div class="window," id="yarn_nav_window"></div>
    <div class="window," id="proj_nav_window"></div>
    <div class="window," id="report_nav_window"></div>
  </div>
  <div class="row">
    <div class="window col-md-4" id="yarn_column_window" style="margin-left:5%;"></div>
    <div class="window col-md-4" id="proj_column_window" style="margin-left:5%;"></div>
    <div class="window col-md-4" id="report_column_window" style="margin-left:5%;"></div>
  </div>
  
</div>





<script type="text/javascript">
  window.setTimeout(function() {
  
  $('#thanks_banner').animate({width: 400, "left":"5%",}, 2000);
  
  $('#getstart_banner').delay(2000).animate({width: 500, "right":"-35%",}, 2000);

  $('#getstart_inside').delay(2500).animate({opacity:1,}, 2000);
});


  

</script>
