<%= form_for(@skein) do |f| %>
  <% if @skein.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skein.errors.count, "error") %> prohibited this skein from being saved:</h2>

      <ul>
      <% @skein.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
