<%= form_for(@yarn) do |f| %>
  <% if @yarn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yarn.errors.count, "error") %> prohibited this yarn from being saved:</h2>

      <ul>
      <% @yarn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container" id="yarn_form_container">
  <div class="row"> 
    <div class="col-sm-5 yarn_form_column" id="yarn_form" >
      <div class="row yarn_form_field_row" id="yarn_form_name_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_name_label_column">
          <%= f.label :name, "Name: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_name_field_column">
          <%= f.text_field :name %>
        </div>
      </div>
      <div class="row yarn_form_field_row" id="yarn_form_color_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_color_label_column">
          <%= f.label :color, "Color: "%>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_color_field_column">
          <%= f.text_field :color %>
        </div>
      </div>
      <div class="row yarn_form_field_row" id="yarn_form_weight_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_weight_label_column">
          <%= f.label :weight, "Weight: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_weight_field_column">
          <%= f.text_field :weight %>
        </div>
      </div>
      <div class="row yarn_form_field_row" id="yarn_form_gauge_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_gauge_label_column">
          <%= f.label :gauge, "Gauge: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_gauge_field_column">
          <%= f.text_field :gauge %>
        </div>
      </div>
      <div class="row yarn_form_field_row" id="yarn_form_skeins_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_skeins_label_column">
          <%= f.label :num_of_skeins, "# of Skeins: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_skeins_field_column">
          <%= f.number_field :num_of_skeins, :value => 1, :min => 1, :max => 5 %>
        </div>
      </div>
      
      <div class="row yarn_form_field_row", id="yarn_form_skein1_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_skein1_label_column">
          <%= f.label :skein_1_length, "Skein 1 Length: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_skein1_field_column">
          <%= f.number_field :skein_1_length, :value => 0 %>
        </div>
      </div>

      <div class="row yarn_form_field_row", id="yarn_form_skein2_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_skein2_label_column">
          <%= f.label :skein_2_length, "Skein 2 Length: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_skein2_field_column">
          <%= f.number_field :skein_2_length, :value => 0 %>
        </div>
      </div>

      <div class="row yarn_form_field_row", id="yarn_form_skein3_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_skein3_label_column">
          <%= f.label :skein_3_length, "Skein 3 Length: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_skein3_field_column">
          <%= f.number_field :skein_3_length, :value => 0 %>
        </div>
      </div>

      <div class="row yarn_form_field_row", id="yarn_form_skein4_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_skein4_label_column">
          <%= f.label :skein_4_length, "Skein 4 Length: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_skein4_field_column">
          <%= f.number_field :skein_4_length, :value => 0 %>
        </div>
      </div>

      <div class="row yarn_form_field_row", id="yarn_form_skein5_row">
        <div class="col-sm-4 yarn_form_label_column" id="yarn_skein5_label_column">
          <%= f.label :skein_5_length, "Skein 5 Length: " %>
        </div>
        <div class="col-sm-6 yarn_form_field_column" id="yarn_skein5_field_column">
          <%= f.number_field :skein_5_length, :value => 0 %>
        </div>
      </div>

   <!-- <div class="row yarn_form_field_row" id="yarn_form_skein_form">
        <%= fields_for :skein, @yarn.skeins do |skein| %>
          <div class="col-sm-4 yarn_form_label_column" id="skein_form_label_column">
            <%= skein.label :length, "Length: " %>
          </div>
          <div class="col-sm-6 yarn_form_field_column" id="skein_form_field_column">
            <%= skein.number_field :length %>
          </div>
        <% end %>
      </div> -->

      
     
        
      
      
      <div class="row yarn_form_field_row" id="yarn_form_submit_row">
        <div class="col-sm-4" id="submit_column">
          <%= f.submit %>
        </div>
          
      </div>
      
    </div>
  <!--   <div class="col-sm-5 yarn_form_column" id="cat_yarn_gif_column" >
      <div class="row">
        <div class="col-sm-12">
          <div id="image_window">
            
          </div>
        </div>
      </div>
      

    </div> -->
  </div>
</div>



  
<% end %>
