<!DOCTYPE html>
<html>
<head>
  <title>YarnBomb2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1> YarnBomb </h1>

<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<!-- Alert: You have succesfully signed in -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<!-- Alert: YOU NEED TO SIGN IN/SIGN UP BEFORE CONTINUING -->
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>




<%= yield %>

</body>
</html>
