<!DOCTYPE html>
<html>
<head>
  <title>YarnBomb</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body data-0="background: radial-gradient(circle, rgb(250,155,40), rgb(250,230,30), rgb(250,155,40));" data-140="background: radial-gradient(circle, rgb(250,230,30), rgb(250,155,40), rgb(250,230,30));" >

  <nav class="navbar navbar-default navbar-fixed-top" id="navnav">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li> 
          <button type="button" class="btn btn-default navbar-btn yb_button">
          <%=link_to image_tag("navbar_logo.png"), root_path%></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if notice %>
            <p class="alert alert-success navbar-text" id="sign_in_success"><%= notice %></p>
          <% end %>
        <% if alert %>
          <p class="alert alert-danger navbar-text" id="sign_in_fail"><%= alert %></p>
        <% end %>
        <% if user_signed_in? %>
        <button class="btn btn-default btn-sm yb_button navbar_button" type="button" id="yarn_nav_button"><%=image_tag "yarn_nav_icon.png", :class => "navbar_button_icon", :id => "yarn_nav_icon"%></button>
        <button class="btn btn-default btn-sm yb_button navbar_button" type="button" id="proj_nav_button"><%=image_tag "newproject.ico", :class => "navbar_button_icon", :id => "proj_nav_icon"%></button>
        <button class="btn btn-default btn-sm yb_button navbar_button" type="button" id="report_nav_button"><%=image_tag "report_nav_icon.png", :class => "navbar_button_icon", :id => "report_nav_icon"%></button>
          
          <div class="btn-group" id="user_btn_group">
            <p class="navbar-text" id="logged_in_as">Logged in as</p>
            <button class="btn btn-default btn-sm dropdown-toggle yb_button" type="button" data-toggle="dropdown" id="user_button">
              <%= current_user.name %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="user_dropdown">
              <li><%= link_to 'Edit profile',edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></li>
            </ul>
          </div>
        </ul>
              
            
        <% else %>
        <li><button type="button" class="btn btn-default navbar-btn yb_button temp_index_deactivate">
            <%= link_to "Sign In", new_user_session_path %>
            </button>
          </li>
          <li><button type="button" class="btn btn-default navbar-btn yb_button temp_index_deactivate" id="reg_button">
            <%= link_to "Register", new_user_registration_path %></button>
          </li>
          
        <% end %>
      </ul>
    </div>
  </nav>

  <%= yield %>
<script>
  $(".dropdown-toggle").dropdown();
</script>
</body>
</html>
